<!-- <h1>Applicant Home</h1> -->

<br>
<div class="profile-container">
	<div ng-click="getProfileInfo()" 
	ng-init="editProfile=false">CLICK TO EDIT PROFILE</div>
	<h2 ng-model="profile"></h2>
	<div ng-if="editProfile">


		<!-- patch to /myprofile -->
		<form ng-submit="saveProfile(link, tag_list)">
			<h2>Link</h2>
			<input type="text" ng-model="link" name="text" />
			<h2>Tag List</h2>
			<textarea type="text" ng-model="tag_list" name="text" /></textarea>
			<br><br>
			<input type="submit" id="submit" value="Submit" />
		</form>

	</div>
</div>

<br><br>

<!-- container for applicant info -->
<div class="applicant-feed">
	<h2>Based on These Tags: </h2>
	<div ng-repeat="tag in tags">{{tag}}</div>
	<br>
	<h2>Feed:</h2>
	<div ng-repeat="job in feed">
		<br>
		<h2>{{job.title}}</h2>
		<p>{{job.description}}</p>
		<div ng-click="like(job.id)">Like</div>
		<div ng-click="dislike(job.id)">Dislike</div>
		<p>{{job.created_at}}</p>
	</div>

	<br>

	<h2>Liked Jobs: </h2>
	<div ng-repeat="job in liked">
		<h2>{{job.title}}</h2>
		<p>{{job.description}}</p>
		<br>
	</div>
</div>

