<h1>Applicant Home</h1>
<%=link_to "Edit Profile", my_profile_path%>
<br><br>
<h2>Based on These Tags: <%@tags.each do |x|%>
	<%=x%>
	<%end%>
</h2>
<h2>Feed</h2>
<%@feed.each do |job|%>
<p>title: <%=job[:title]%></p>
<p>description: <%=job[:description]%></p>
<br>
<%end%>