<h1>About</h1>

<p>
For the entry-level web dev community, looking for their break into the market.
</p>

<p>
Swink! is a job connection tool unlike any other.  The simplicity of information pulls the candidate/recruiter relationship away from distractions commonly seen in other sites, and places the emphasis on skills and the body of work 
</p>

<p>Our Focus :</p>
<p>- A job portal catered to the web design and development community. </p>
<p>- A lean and personalized experience.</p>
<p>- At a glance review built with limited viewing time in mind.</p>
<p>- Simplified interaction suitable for extended sessions or on-the-go opportunities.</p>
