

<div class="window">

  <div id="login_form">
	  <div id="title">Swink</div>
	  <%#= image_tag 'attlogo.jpg', id: 'logo' %>
	  
	  <%= render 'layouts/login' %>

	  <%= link_to "Sign Up", sign_up_path, class: "btn btn-info", id: "sign_up_button" %>
  </div>
<div> 