
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";


/*all pages*/
.selected{
  color:red;
}
.button{
  -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   cursor: pointer;
}
a{
  text-decoration: none;
}
a:visited{
  color: black;
}
.inline-button{
  display:inline-block;
  padding:10px 20px;
  margin:10px;
  border:1px solid black;
  border-radius: 2px;
}

/*Login Home*/
.login{
  
}

/*Applicant Home*/
.applicants-body{

}

/*Recruiter Home*/
.recruiters-body{
}
#recruiter-nav{
  text-align: center;
  display:block;
  background-color: black
}
.inline{
  color:black;
  display: inline-block;
  margin: 1em 1em;
  font-size: 20px;
  font-weight: 100;
}

/*nav bar*/
.inline:hover, #logout:hover{  
  text-decoration: none;
  color:red;
}
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: white;
} 
button.navbar-toggle.collapsed {
    background-color: gray;
}
span.icon-bar {
    background: white;
}
button.navbar-toggle {
    background: gray;
}
.navbar-header {
    background-color: gray;
}
li.inline.button {
    border-bottom: 1px solid black;
}
.navbar-nav {
float: none;
margin: 0;
width: 100%;
text-align: center;
}

@media (min-width: 768px){
  .navbar-nav > li {
    float:none;
    display:inline;
  }
  #bs-example-navbar-collapse-1 {
    margin-top: 20px;
  }

}
.lineheight{
  line-height: 1.1;
}
.nav > li > a{
  display:inline;
  padding:10px 0;
  &:hover{
    border-bottom: 1px solid black;
    color:red;
    padding-bottom:0;
  }
}

/*postings*/
.newPost{
  border: 1px solid black;
  text-align: center;
  margin:0 auto;
  max-width: 600px;
}
.postInner{
  text-align: left;
  padding: 0 50px;
}
#inputTitle{
    padding:15px;
    font-size:1.5em;
    width: 100%;
    margin:0 auto;
}
#inputDesc{
  width:100%;
  font-size:1em;
  height:200px;
  padding:20px;
}
#submitPost{
  display:block;
}







