<!-- hide show on click -->
<div ng-if="newPosting" class="newPost">
	<div class="postInner">
	<!-- post job -->
	<form ng-submit="makeNewPosting(title, description, postingTagArray)">
		<h2>Job Title</h2>
		<input type="text" id="inputTitle" ng-model="title" name="text" />
		<h2>Description</h2>
		<textarea type="text" id="inputDesc" ng-model="description" name="text" /></textarea>

		<!-- tags for job postings -->
		<div class="inline-button" ng-repeat="tag in tags">
			<!-- each tag item/button -->
			<div class="button" ng-click="postingAddTag(tag.name, checkPostingArray(tag.name))" 
				ng-class="{selected: !checkPostingArray(tag.name)}">
				{{tag.name}}
			</div>
		</div>
		<input id="submitPost" type="submit" id="submit" value="Submit" />
	</form>
	</div>
</div>
<br>

<!-- Recruiter's Postings -->
<div ng-if="showPosting">
	<h2>Postings</h2>
	<div  ng-repeat="posting in postings">	
		<h2>{{posting.title}}</h2>
		<p>{{posting.description}}</p>
		<div>Likes: {{posting.like}}</div>
		<div>Dislike: {{posting.dislike}}</div>
		<div>{{posting.created_at}}</div>
		<br>
	</div>
</div>

<br>
<!-- Search for Applicants -->
<!-- repeat tags -->
<div ng-if="searchDiv">
	<div ng-repeat="tag in tags">
		<!-- each tag item/button -->
		<div ng-click="addTag(tag.name, checkArray(tag.name))" 
			ng-class="{selected: !checkArray(tag.name)}">
			{{tag.name}}
		</div>
	</div>
	<!-- search toggle on tags -->
	<div ng-click="search(tagArray)">SEARCH</div>
	<!-- search results -->
	<h2>Matching Applicants Results</h2>
	<div ng-repeat="applicant in applicants">
		Name: {{searchnames[$index]}}
		<br>
		Email: {{searchemails[$index]}}
		<br>
		Link: {{applicant["link"]}}
		<br>

</div>
</div>

<br>

<!-- Notificiations -->
<div ng-if="showNotifications">
	<h2>Notifications</h2>
	<div ng-repeat="n in notifications">
		{{names[$index]}} liked your post at {{n["created_at"]}}
		<div ng-init="showP[n.id]=false" ng-click="removeNotification(n.id, showP[n.id]); showP[n.id]=!showP[n.id]" >
			!!See Profile!!
		</div>
		<div ng-if="showP[n.id]">
			
			Name: {{names[$index]}}
			<br>
			Email: {{emails[$index]}}
			<br>
			Links: {{profiles[$index]["link"]}}
			<br>
			
		</div>
	</div>
</div>

<br>
