<h1>Recruiter Home</h1>

<%=link_to "Make a New Job Posting", new_post_path%>

<div>Make New Posting</div>

<h2>My Postings</h2>
<div ng-repeat="posting in postings">	
	<h2>{{posting.title}}</h2>
	<p>{{posting.description}}</p>
	<div>Likes: {{posting.like}}</div>
	<div>Dislike: {{posting.dislike}}</div>
	<div>{{posting.created_at}}</div>
	<br>
</div>


<h2>Search Applicants By Tags</h2>
<!-- repeat tags -->
<div ng-repeat="tag in tags">
	<!-- each tag item/button -->
	<div ng-click="addTag(tag.name, checkArray(tag.name))" 
		ng-class="{selected: !checkArray(tag.name)}">
		{{tag.name}}
	</div>
</div>
<!-- search toggle on tags -->
<div ng-click="search(tagArray)">SEARCH</div>
<!-- search results -->
<h2>Matching Applicants Results</h2>
<div ng-repeat="applicant in applicants">
	{{applicant}}
</div>
			
	
	

<br><br><br>

<h2>notifications</h2>
<p>Notification Count: <%= begin @notifications.count; rescue; end%></p>
<%begin @notifications.each do |notification| %>
<p><%=notification.id%></p>
<%=link_to notification.profile.applicant.name, removenotification_path(notification), method: :patch%>
<%end%>
<%rescue; end%>
<br><br><br><br>
<br><br><br>
