<h1>Recruiter Home</h1>
  <!-- post '/newposting' => 'postings#create', as: :new_post -->


<h2 ng-model="posting"></h2>
<!-- hide show on click -->
<div ng-click="newPosting=!newPosting" 
ng-init="newPosting=false">Make New Posting</div>
<div ng-if="newPosting">
	<!-- post job -->
	<form ng-submit="makeNewPosting(title, description, postingTagArray)">
		<h2>Title and Company</h2>
		<input type="text" ng-model="title" name="text" />
		<h2>Description</h2>
		<textarea type="text" ng-model="description" name="text" /></textarea>

		<!-- tags for job postings -->
		<div ng-repeat="tag in tags">
			<!-- each tag item/button -->
			<div ng-click="postingAddTag(tag.name, checkPostingArray(tag.name))" 
				ng-class="{selected: !checkPostingArray(tag.name)}">
				{{tag.name}}
			</div>
		</div>



		<input type="submit" id="submit" value="Submit" />
	</form>
</div>

<h2>!!!!My Postings!!!</h2>
<div ng-repeat="posting in postings">	
	<h2>{{posting.title}}</h2>
	<p>{{posting.description}}</p>
	<div>Likes: {{posting.like}}</div>
	<div>Dislike: {{posting.dislike}}</div>
	<div>{{posting.created_at}}</div>
	<br>
</div>


<h2>Search Applicants By Tags</h2>
<!-- repeat tags -->
<div ng-repeat="tag in tags">
	<!-- each tag item/button -->
	<div ng-click="addTag(tag.name, checkArray(tag.name))" 
		ng-class="{selected: !checkArray(tag.name)}">
		{{tag.name}}
	</div>
</div>
<!-- search toggle on tags -->
<div ng-click="search(tagArray)">SEARCH</div>
<!-- search results -->
<h2>Matching Applicants Results</h2>
<div ng-repeat="applicant in applicants">
	{{applicant}}
</div>
			
	
	

<br><br><br>

<h2>notifications</h2>
<p>Notification Count: <%= begin @notifications.count; rescue; end%></p>
<%begin @notifications.each do |notification| %>
<p><%=notification.id%></p>
<%=link_to notification.profile.applicant.name, removenotification_path(notification), method: :patch%>
<%end%>
<%rescue; end%>
<br><br><br><br>
<br><br><br>
