<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%#= link_to "Swink", root_path, id: "logo" %>
    <a class="navbar-brand extra" href="#">Swink</a>

    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%#= link_to "Home",   root_path %></li>
        <li><%#= link_to "Help",   '#' %></li>
        <li><%= render 'layouts/login' %></li>
      </ul>
    </nav>
  </div>
</header>
